@page "/productdetails"
@inject IProductService ProductService
@inject NavigationManager NavigationManager

<h3>ProductDetails</h3>

<EditForm Model="@product" OnValidSubmit="SaveProduct">
    <table class="table">
        <tr>
            <td>Name:</td>
            <td><input type="text" @bind="product.Name" /></td>
        </tr>
        <tr>
            <td>Stock:</td>
            <td><input type="number" @bind="product.Stock" /></td>
        </tr>
        <tr>
            <td>Expiry Date:</td>
            <td><input type="date" @bind="product.ExpiryDate" /></td>
        </tr>
        <tr>
            <td>Category:</td>
            <td><input type="text" @bind="product.Category" /></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center">
                <input type="submit" class="btn-success" value="Save" />
                <input type="button" class="btn-secondary" value="Cancel" />
            </td>
        </tr>
    </table>
</EditForm>

@code {
    [Parameter]
    public string id { get; set; }

    Product product = new Product();

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(id))
        {
            product = await ProductService.GetProductDetails(id);
        }
    }

    protected async Task SaveProduct()
    {
        await ProductService.SaveProduct(product);

        NavigationManager.NavigateTo("/");
    }

    protected void Cancel()
    {
        NavigationManager.NavigateTo("/");
    }
}
